*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  max-width: 100%;
  overflow-x: hidden;
  -webkit-overflow-x:hidden;
  -moz-overflow-x:hidden;
  -o-overflow-x:hidden;
  -ms-overflow-x:hidden;
}
.font-col{
  background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
.text{
  background:linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* .window{

  background-image:url(../src/assets/SS/toyCenter1.png),url(../src/assets/SS/toy2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top, left center;
  height: 19rem;
} */
